/* titre :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.title {
  /* position: relative;
  display: block;
  height: auto;
  width: 100%; */
  color: #404041;
  font-size: 2.5em;
  font-family: "Amaranth", Arial, sans-serif;
  text-align: center;
  font-style: italic;
  padding: 40px 0 30px;
}

.title2 {
  color: white;
  font-size: 1.5em;
  font-family: "Amaranth", Arial, sans-serif;
  text-align: center;
  font-style: italic;
  padding: 40px 0 30px;
}

.text {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.text2 {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.greycolor {
  display: inline-block;
  height: 130px;
  width: 130px;
  line-height: 128px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: #ebebeb;
}

.paddingl {
  padding-left: 6.3rem;
}

.paddingr {
  padding-right: 6.3rem;
}

.paddingt {
  padding-top: 1.2rem;
}

.paddingb {
  padding-bottom: 5rem;
}

.footer {
  height: 30rem;
  background: #404041;
  padding: 35px 0;
}
