body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: normal;
}

.bg-dark-grey {
  background-color: #404041;
}

.global-container .header-top {
  height:50px;
}

a {
  text-decoration : none;
  color:black;
}

a:hover {
  text-decoration :none;
}

.global-container .list-filiale {
  position: relative;
  width: 125px;
  background: #f5f5f5;

}

#filiales {
  height: auto;
  width: 170px;
  padding: 10px 20px;
  background: #f5f5f5;
}

.filiale a {
  margin-left:20px;
}

.filiale {
  transition:0.5s;
  width:170px;
  margin-left:-20px;
  padding-bottom:5px;
  padding-top:5px;
  cursor:pointer;
}

.filiale:hover{
  transition:0.5s;
  background-color:#01ADDD;
  color: #fff;
}

.filiale a {
  color: #404041;
  display: block;
  font-size: 14px;
  font-size: 0.875em;
  font-family: "Titillium Web",Arial,sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

.filiale:hover a {
  color : #fff;
  transition : 0.5s;
}

.global-container .list-filiale {
  margin-top: -8px;
}

#youare {
  margin-top:-10px;
}

#linkyouare {
  top:0;
  left: 165px;
  position: absolute;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-style:italic;
  color: #fff;
  font-size:14px;
}

.personnality {
  position:absolute;
  left: 220px;
}

.personnality li {
  text-transform: uppercase;
  display:inline-block;
}

.personnality li a {
  color : #a5999a;
  transition:0.5s;
  font-size: 0.875em;
  font-size: 14px;
}

.personnality li a:hover {
  transition: 0.5s;
  color: #2a6496;
}

#insured {
  transition:0.5s;
  background: #01ADDD url("../img/icons/pen_white.png") no-repeat 19px center;
  padding: 0 19px 0 53px;
  padding-top:13px;
  padding-bottom:12.5px;
}

#insured a {
  color: #fff;
}

#insured:hover {
  transition: 0.5s;
    background: #01c1f6 url("../img/icons/pen_white.png") no-repeat 19px center;
}

#followus {
  margin-left:50px;
  text-transform: inherit;
  font-style: italic;
}

.follow a {
    position: relative;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#followus a {
  font-size: 1em;
  color:#fff;
  font-family: "Amaranth",Arial,sans-serif;
  margin-right: 20px;
  margin-left: 90px;
}

.uppercase {
  text-transform: uppercase;
  font-style:normal;
  font-weight: bold;
  color:#fff;
}

.follow #twitter {
  background-color:#757575;
}

.follow #twitter:hover {
  background-color:#4abaed;
}

.follow #linkedin {
  background-color:#757575;
}

.follow #linkedin:hover {
  background-color:#0180b4;
}

.follow #youtube {
  background-color:#757575;
}

.follow #youtube:hover {
  background-color:#cc181e;
}

.follow {
  vertical-align: middle;
  margin-right:20px;
}

.follow a {
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    -moz-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
}

#followgroup {
  position:absolute;
  display:inline;
  float:right;
  right:-400px;
  top:11px;
}

@media all and (max-width:1270px) {
  #followgroup {
    display:none;
  }
}

#firstslide {
  height:450px;
}

.main-nav {
  top: 115px;
  right: 100px;
}

.white-text {
  color: #ffffff;
}

.text-center {
  text-align:center;
}

@media all and (max-width:1200px) {
  #menu-bottom {
    display:none;
  }
}

.header-bottom .global-container .main-nav .nav-item a {
  color: #404041;
  font-size: 18px;
  font-size: 1.125em;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.main-nav .inli {
  border-right:1px solid black;
  padding-right:15px;
  padding-left:15px;
}

.main-nav .inlis {
  padding-left:15px;
}

#logo {
  margin-left:30px;
}

#text-slider {
  position:absolute;
  top:10px;
}

#text-slider h1 {
  font-weight: bold;
  font-family: "Amaranth",Arial,sans-serif;
  text-transform: uppercase;
  font-size: 3.125em;
  text-align: center;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.follow a img {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 25px;
    margin-top:4px;
}

.inl {
  display: inline;
  border-right:1px solid white;
  padding-right:15px;
  padding-left:15px;
}

.inls {
  display: inline;
  padding-right:15px;
  padding-left:15px;
}

.global-container .list-filiale a {

  display: block;
  font-size: 14px;
  font-size: 0.875em;
  font-family: "Titillium Web",Arial,sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

.global-container .list-filiale .link-filiale:hover {
  color: #01ADDD;
}

.filiales {
  height:50px;
  margin-left:150px;
}

.nav-item {
  display:inline;
}

.global-nav .list-filiale .mp-level .filiale a {
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.global-nav .list-filiale .mp-level a {
  padding: 10px 20px;
  margin-left:30px;
}

ol, ul {
  list-style: none;
}

.global-container .list-filiale .link-filiale {
  text-align: center;
  line-height: 50px;
  width: 100%;
  font-style: italic;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.global-container .list-filiale .link-filiale::after {

  border-bottom-color: #404041;

}

.global-container .header-bottom {
  height:130px;
  background-color: #ffffff;
}

.global-container .header-bottom > .global-container {
  height: 100%;
  z-index:1;
}

.global-container .header-bottom > .brand {
  height: 100%;
  width: 31.513%;
}

.global-container .header-bottom .brand a {
  display: block;
  height: 100%;
  padding: 3% 0;
}

.global-container .header-bottom .brand a img {
  display: block;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.global-container .header-bottom .main-nav {
  width: 68.068%;
  text-align: right;
  height: auto;
  line-height: 1.2;
  vertical-align: bottom;
  bottom: 50px;
}

.global-container .header-bottom .links-nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}

.global-container .header-bottom .links-nav:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 1px;
  background: #404041;
}
